$background : #d3ccbb;
$primary : #737b98;
$secondary : #2a3759;
$tertiary : #d3ccbb;

$easy : #65BB58;
$medium : #F5901A;
$hard : #E24848;

$light : #F3F3F3;
$dark : #343a40;

//.color4 { #737b98 };
//92a1cb
