<section>
  <div class="buttons">
    <div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div>
      <div><div></div></div>
      <div><div></div></div>
    </div>
  </div>

  <div class="windows" [@routeAnimations]="getRouteAnimationData()">
    <router-outlet></router-outlet>
  </div>

  <div class="sound">
    <div>
      <div></div>
      <div></div>
    </div>
    <div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

</section>
